<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Phần mềm kinh doanh</Name>
    <Version>1.0.0</Version>
    <Title>Phần mềm kinh doanh dành cho an khánh</Title>
    <Publisher>Bao khoa soft</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>KinhDoanh</StartMenuDir>
    <TargetDir>@ThuMucCaiDat@</TargetDir>
    <CreateLocalRepository>true</CreateLocalRepository>
    <!--<RemoteRepositories>
        <Repository>
            <Url>http://baokhoa.ddns.net/qtapp/kinhdoanh</Url>
        </Repository>
    </RemoteRepositories>-->
</Installer>
